<div>
  <h2>Automóviles</h2>

  <div>
    <table>
      <thead>
        <tr>
          <th>Placas</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auto of listaAutomoviles">
          <td>{{ auto.placas }}</td>
          <td>{{ auto.marca }}</td>
          <td>{{ auto.modelo }}</td>
          <td>{{ auto.color }}</td>
          <td>
            <a [routerLink]="['/automoviles',auto.placas]">Detalle</a>
          </td>
          <td>
            <button [routerLink]="['/automoviles',auto.placas]">Detalle</button>
          </td>
          <td>
            <span (click)="verDetalle(auto.placas)">Detalle</span>
          </td>
          <td>
            <button (click)="verDetalle(auto.placas)">Detalle</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
