<div>
  <h2>Automóvil</h2>
  <table>
    <tr>
      <td>Placas:</td>
      <td>{{ automovil.placas }}</td>
    </tr>
    <tr>
      <td>Marca:</td>
      <td>{{ automovil.marca }}</td>
    </tr>
    <tr>
      <td>Modelo:</td>
      <td>{{ automovil.modelo }}</td>
    </tr>
    <tr>
      <td>Color:</td>
      <td>{{ automovil.color }}</td>
    </tr>
    <tr>
      <td>Cliente:</td>
      <td>{{ automovil.cliente?.nombre }} desde
        {{automovil.cliente?.fechaRegistro | date:'medium'}} </td>
    </tr>
  </table>
</div>
